// Functional color Variables ------------------//
$primary-color: #58e1c1;
$secondary-color: #777;
$text-color: #fff;
$border-color: #51ddfc;


// Descriptive color variables

$white: #fff;
$light-blue: #51ddfc;
$gray: #777;
$teal: #58e1c1;


// Button Colors
$default: #51ddfc;
$error: #e4757a;
$info: #927bc1;
$success: #63cc82;
$warning: #802c18;
// Font stacks

$stack-sans-serif: "Lato",
sans-serif;

// Border radius

$border-radius: 5px;

// Media query breakpoints

$brk-wide: ":768px";