// Functional color Variables ------------------//
$primary-color: #58e1c1;
$col-text-color: #777;
$btn-text-color: #fff;
$border-color: #51ddfc;
$img-frame: rgb(72, 52, 117);
$base-light: lighten($primary-color, 35%);

$error: #e4757a;
$info: #927bc1;
$success: #63cc82;
$warning: #fd7856;

// Font stack

$stack-sans-serif: "Lato",
sans-serif;

// Border radius

$border-radius: 5px;

// Media query breakpoints

$brk-wide: 768px;

//button layout