/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $btn-text-color;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: $border-radius;
}

@each $theme,
$color in $btn-layout {
    &.#{$theme} {
        background-color: $color;

        &:hover {
            background-color: lighten($color, 15%);

        }
    }
}






.btn+.btn {
    @include mq($brk-wide) {
        margin-left: 10px;
    }
}